body {

    margin: 0px;

    padding: 0px;

}

 

header {

    position: relative;

    margin-bottom: 10px;

    height: 700px;

}

 

header img,

header h1 {

position: absolute;

}

 

header img {

    z-index: 1;

    height: 100%;

    width: 100%;

}

 

header h1 {

   z-index: 2;

   left: 25%;

   width:50%;

   margin:85px auto;

   background-color:rgb(100, 170, 250);

   text-align: center;

   padding:5px;

   font-size: 42px;

   font-family: "Delius Unicase", cursive;

   color: white;

}

 

nav {

    position:fixed;

    top: 0px;

    left: 0px;

    width:100%;

    background-color: rgb(187, 187, 182);

    z-index: 3;

    padding: 20px;

    text-align: center;

    font-family: "Segoe UI";

}

 

nav a {

    margin:20px;

    text-decoration: none;

    font-size: 18px;

    color:rgb(51, 51, 51);

}

 

.purpose {

    margin:20px auto;

    width:65%;

}

 

.purpose h2 {

text-align: center;

font-family: "Delius Unicase", cursive;

font-size: 30px;

margin-bottom: 0px;

}

 

.purpose p {

    font-family: "Delius Unicase", cursive;

    margin-top: 10px;

    font-size: 10px;

}

footer{
    background-color:rgb(51, 51, 51);
    padding: 80px;
    text-align:center;
    color: lightgray;

}

.back-to-top {
background-color: lightgrey;
width: 100px;
margin: 0px auto;
    width: 100px;
    font-family:'Courier New';
}




.back-to-top a{
color: rgb(91, 91, 91);
text-decoration: none;
}

footer p {
    font-family: 'arial';
    font-size: small;
}

.blog-cards .blog-cards-article article img{
    width: 100%;
    height: 65%;
}

.blog-cards-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-cards-article article {
    flex: 0 0 350px;
}